// Here you can add other styles
.sidebar .nav .nav-item .nav-link:hover i, .sidebar .nav .nav-item .navbar .dropdown-toggle:hover i, .navbar .sidebar .nav .nav-item .dropdown-toggle:hover i {
  color: #fff !important;
}

body {
  font-size: 12px;
  font-weight: 600;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  padding-top: 0.5rem;
}

.btn-danger {
  color: #fff !important;
  background-color: #c00000;
  border-color: #c00000;
}

.btn-danger:hover {
  color: #fff;
  background-color: #da0000;
  border-color: #f30000;
}

.bg-danger {
  background-color: #c00000;
  border-color: #740000;
}

.btn-info {
  color: #FFF;
  background-color: #63c2de;
  border-color: #63c2de;
}

.btn-info:hover {
  color: #FFF;
  background-color: #43b6d7;
  border-color: #39b2d5;
}

.btn .badge {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 9px;
}

.top .notific8-notification {
  margin-top: 1.625em;
}

.notific8-notification.family-materialish.lilrobot,
.notific8-notification.materialish.lilrobot {
  background-color: #28a745 !important;
  color: #eee;
}

.cart-table-hover tbody tr:hover {
  background-color: #e6f6fb;
  cursor: pointer;
}

.card-body-order, .card-block, .card-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.4rem;
} 

.cart-footer {
  display: block;
  width: 100%;
  padding: 0.20rem 0.5rem;
  clear: both;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  background-color: #e7e7e7;
  border-top: 1px solid #acacac;
}

a:hover {
  color: #167495;
  text-decoration: none;
}

.alert-danger {
  background-color: #c00000;
  border-color: #c00000;
  color: white;
}

.alert-danger > a {
  color: white;
}